body {
  max-width: 1000px;
  margin: auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2em;
}

#beer_list a {
  text-decoration: none;
  color: black;
  display: flex;
}

h1 {
  border-bottom: solid 1px chocolate;
}

h2 {
  padding-top: 1em;
}

img {
  width: 40%;
  align-self: end;
}

article {
  background-color: white;
  padding: 1em 2em;
  filter: drop-shadow(4px 4px 2px #57575755);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  position: relative;
}

article div {
  margin-bottom: 1em;
}

.twist {
  display: none;
}

article.twisted .twist {
  display: block;
}

article.strong::after {
  content: "STÆRK";
  padding: 1em;
  background-color: red;
  color: white;
  position: absolute;
  bottom: 7%;
  left: 10%;
  rotate: 20deg;
}
